<p>Your appointment has been confirmed!</p>
<p>Date: {{date}}</p>
<p>Start Time: {{startTime}}</p>
<p>End Time: {{endTime}}</p>
<p>Type: {{type}}</p>
<p>Have a good day!!!</p>
<p>SoulCare Team</p>
        <div class="footer">
            <p>This is an automated message. Please do not reply to this email.</p>
        </div>
